*.swp
.DS_Store
Thumbs.db
Earthquake.js.backup
Earthquake.js
Earthquake.js.backup
ActiveShooter.js
ActiveShooter.js.backup
Test.js
Test.js.backup
Tutorial.js
Tutorial.js.backup
list
add.txt
rm.txt
new.txt
