.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 500px;
}
#img1 {
  background-image: url('../img/A-east.jpg');
  z-index: 4;
}
#img2 {
  background-image: url('../img/C-east.jpg');
  z-index: 3;
}
#img3 {
  background-image: url('../img/D-east.jpg');
  z-index: 2;
}
#img4 {
  background-image: url('../img/E-east.jpg');
  z-index: 1;
}
