/*
    Developed by anthonyvscode.com
    This solution is to be used in the dotless implemention of less css: http://www.dotlesscss.org/
*/
/*Border Radius Functions*/
/*Shadows*/
/*Transformations*/
#container {
  width: 970px;
  height: 600px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: #ff0000;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  background: transparent;
  position: absolute;
  overflow: visible;
}
#nav-top,
#nav-bottom {
  width: 830px;
  height: 50px;
}
#nav-left,
#nav-right {
  width: 50px;
  height: 460px;
}
#nav-top {
  left: 70px;
  top: 0;
}
#nav-bottom {
  left: 70px;
  top: 550px;
}
#nav-left {
  left: 0;
  top: 70px;
}
#nav-right {
  left: 920px;
  top: 70px;
}
#nav-top .item,
#nav-bottom .item,
#nav-left .item,
#nav-right .item {
  position: relative;
  float: left;
  background-color: white;
}
#nav-top .item,
#nav-bottom .item {
  height: 50px;
  width: 78px;
  margin-right: 10px;
}
#nav-left .item,
#nav-right .item {
  height: 78px;
  width: 50px;
  margin-bottom: 10px;
}
#nav-top .item {
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
#nav-bottom .item {
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
#nav-left .item {
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
#nav-right .item {
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
