@import "less-mixins.less"; // Import Mixins
@viewportHeight: 611px;
@viewportWidth: 1115px;
@primaryBorderColor: #000000;
@primaryBackgroundColor: #FFFFFF;
@sidebarBackgroundColor: #EEE;
@primaryFontColor: #000000;
@primaryHighlightColor: #4493F3;
@borderThickness: 3px;
@primaryBorderRadius: 10px;
@sidebarWidth: 150px;
@margin: 5px;

body {
    font-family: "Helvetica-Neue-Light", "Helvetica Neue Light";
    font-size: 14px;
    margin:0px;
    background-color:gray;
}

/* General/Misc */
.bordered {
    .border_radius(@primaryBorderRadius);
    .box_shadow();
}

.bold-colored-text {
    font-weight: bold;
    color: @primaryBorderColor;
}

.conversation-option {
    cursor:pointer;
}

input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
    border-color: @primaryHighlightColor;
    border-style: solid;
    border-width: 0px;
}

.hidden {
    display: none;
}

/*Base layout elements*/
#outer-container {
    background-color: @primaryBackgroundColor;
}

#main-header {
    text-align: center;
    height:100px;
    min-height:100px;
    width:100%;
    background-color:gray;
}

#main-header h1 {
    vertical-align: middle;
}

#main-content {
    width:@sidebarWidth + @viewportWidth;
    height:auto;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

#main-footer {
    height:100px;
    min-height:100px;
    width:100%;
    background-color:gray;
    margin-bottom:0px;
}

/*----Game viewport container*/
#view-modal {
    display:block;
    height: @viewportHeight + @margin * 2;
    width: @viewportWidth + @margin * 2;
    padding-top: @margin * 2;
    padding-bottom: @margin * 2;
}

/*--------Game viewport*/
.primary-view {
    display: block;
    position: absolute;
    height: @viewportHeight;
    width: @viewportWidth;
    border-style: solid;
    border-width:@borderThickness;
    border-color: @primaryBorderColor;
    .border_radius(@primaryBorderRadius - 3);
    .bordered;
}
#scene-img {
    .border_radius(@primaryBorderRadius - 5);
}

#controls-overlay {
    z-index: 1;
    background: transparent;
}
/*------------Game viewport controls*/
.viewport-button {
    background-color: @primaryBackgroundColor;
    border-color:@primaryBorderColor;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
    outline-width: 0;
    position: absolute;
    width: 30px;
    height: 30px;
    .opacity(100);
    &:hover {
        .opacity(50);
    }
}

#turn-left {
   top: 50%;
   background-color: transparent;
   background-image: url('../img/left.png');
}

#move-down {
    top: 100%;
    margin-top: -27px;
}

#move-forward {
   margin-left: 50%;
   background-color: transparent;
   background-image: url('../img/up.png');
}

#turn-right {
   top: 50%;
   left: 100%;
   margin-left: -31px;
   background-color: transparent;
   background-image: url('../img/right.png');
}

.clickable {
    position: absolute;
    z-index: 3; 
    .opacity(50);
    &:hover {
        cursor: pointer;
        .opacity(100);
    }
}
/*END---------Game viewport controls*/

/*--------Game sidebar*/
#sidebar {
    margin-left: 10px;
    position: relative;
    left: @viewportWidth;
    width: @sidebarWidth;
    height: auto;
}

.sidebar {
    border: @borderThickness;
    border-style: solid;
    border-color: @primaryBorderColor;
    background-color: @sidebarBackgroundColor;
    width: 100%;
    margin-bottom: 5px;
}
#objective {
    .sidebar;
    text-align: center;
    height: 100px;
}

#help {
    .sidebar;
    text-align: center;
    height: 60px;
}

#map {
    .sidebar;
    height: 220px;
    overflow: hidden;
}

#map-container {
    position: relative;
    display: block;
}
.map-cell.occupied {
    background-color: #FF0000;
}

.map-cell {
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #0000FF;
    border: 1px;
    border-style: solid;
    border-color: #000;
}

.directional-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3px;
    margin-top: -8px;
}
/*END---Game sidebar*/

/* Editor */
#editor-output {
    display: inline;
    float: left;
}

#output {
    border: 1px solid black; 
    width: 300px; 
    height: 400px;
}


/* MAIN MENU STYLINGS */
#main-menu {
  margin-left:auto;
  margin-right:auto;
  display: none;
  height: @viewportHeight;
  width: @viewportWidth;
  border: 1px solid black;
  .border_radius(10px);

  .option {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    span {
      padding: 2px;
      font-size: 1.2em;
      color: #77f;
      cursor: pointer;
      &:hover {
        border: 1px solid black;
        .border_radius(5px);
        color: #00f;
      }
    }
  }
}

/* FEEDBACK FORM */
#report-modal {
    height:@viewportHeight;
}

/*  MODAL/OVERLAY STYLINGS */
#modals {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0;
    width: 0;
    overflow: visible;
}
#modal {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 400px;
    height: 400px;
    z-index: 10;
    .border_radius(10px);
    background-color: white;
    border: 1px solid black;
    .box_shadow();
    padding: 10px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  .opacity(75);
  z-index: 9;
}
