/*
    Developed by anthonyvscode.com
    This solution is to be used in the dotless implemention of less css: http://www.dotlesscss.org/
*/
/*Border Radius Functions*/
/*Shadows*/
/*Transformations*/
body {
  font-family: "Helvetica-Neue-Light", "Helvetica Neue Light";
  font-size: 14px;
}
.selector-title,
.player-title {
  font-weight: bold;
}
#view-modal {
  display: inline;
  position: relative;
  float: left;
  background-color: #000000;
  height: 617px;
  width: 1121px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 3px 3px #888888;
  -webkit-box-shadow: 3px 3px 3px #888888;
  -moz-box-shadow: 3px 3px 3px #888888;
}
.bold-colored-text {
  font-weight: bold;
  color: #000000;
}
.viewport-button {
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  border-width: 0px;
  padding: 2px 5px;
  outline-width: 0;
  position: absolute;
  width: 30px;
  height: 30px;
}
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  border-color: #4493f3;
  border-style: solid;
  border-width: 0px;
}
#move-forward {
  margin-left: 50%;
  background-color: transparent;
  background-image: url('../img/up.png');
}
#move-forward:hover {
  background-image: url('../img/up-glow.png');
}
#turn-left {
  top: 50%;
  background-color: transparent;
  background-image: url('../img/left.png');
}
#turn-left:hover {
  background-image: url('../img/left-glow.png');
}
#move-down {
  top: 100%;
  margin-top: -27px;
}
#turn-right {
  top: 50%;
  left: 1115px;
  margin-left: -27px;
  background-color: transparent;
  background-image: url('../img/right.png');
}
#turn-right:hover {
  background-image: url('../img/right-glow.png');
}
.primary-view {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  left: 3px;
  top: 3px;
  height: 611px;
  width: 1115px;
}
.clickable {
  position: absolute;
  z-index: 3;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.clickable:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
#controls-overlay {
  z-index: 1;
  background: transparent;
}
#scene-img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
}
#editor-output {
  display: inline;
  float: left;
}
#output {
  border: 1px solid black;
  width: 300px;
  height: 400px;
}
#playerinfo,
#dropdowns,
#movebuttons,
#locationinfo {
  width: 100%;
}
#modal {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 10;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 3px 3px 3px #888888;
  -webkit-box-shadow: 3px 3px 3px #888888;
  -moz-box-shadow: 3px 3px 3px #888888;
  padding: 10px;
}
.hidden {
  display: none;
}
#map {
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  overflow: hidden;
}
#map > div {
  position: relative;
  float: left;
}
#map > div.active {
  background: black;
}
#map > div.active.player-pos {
  background: red;
}
#main-menu {
  position: absolute;
  left: 50%;
  margin-left: -557.5px;
  display: none;
  width: 1115px;
  border: 1px solid black;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
#main-menu #header {
  position: relative;
  float: left;
  width: 100%;
  height: 2.1em;
  font-size: 2em;
  text-align: center;
  font-color: #555;
  border-bottom: 1px solid black;
}
#main-menu .option {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
#main-menu .option span {
  padding: 2px;
  font-size: 1.2em;
  color: #77f;
}
#main-menu .option span:hover {
  border: 1px solid black;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: #00f;
}
