/*
    Developed by anthonyvscode.com
    This solution is to be used in the dotless implemention of less css: http://www.dotlesscss.org/
*/
/*Border Radius Functions*/
/*Shadows*/
/*Transformations*/
body {
  font-family: "Helvetica-Neue-Light", "Helvetica Neue Light";
  font-size: 14px;
}
.selector-title,
.player-title {
  font-weight: bold;
}
#output {
  border: 1px solid black;
  width: 100%;
  height: 400px;
}
#playerinfo,
#dropdowns,
#movebuttons,
#locationinfo {
  width: 100%;
}
#modal {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 10;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 3px 3px 3px #888888;
  -webkit-box-shadow: 3px 3px 3px #888888;
  -moz-box-shadow: 3px 3px 3px #888888;
  padding: 10px;
}
.hidden {
  display: none;
}
