/*
    Developed by anthonyvscode.com
    This solution is to be used in the dotless implemention of less css: http://www.dotlesscss.org/
*/
/*Border Radius Functions*/
/*Shadows*/
/*Transformations*/
#wrapper {
  width: 1240px;
  height: 600px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid black;
}
#pano-container {
  width: 3720px;
  height: 600px;
  position: absolute;
  left: 0;
}
.piece {
  position: relative;
  float: left;
  width: 1240px;
  height: 600px;
}
.piece#img1 {
  background-image: url('../img/pano-1.jpg');
}
.piece#img2 {
  background-image: url('../img/pano-2.jpg');
}
.piece#img3 {
  background-image: url('../img/pano-3.jpg');
}
.piece#img4 {
  background-image: url('../img/pano-4.jpg');
}
